@import "../../style/palette";
@import "../../style/mixins";
@import "../../style/vars";

.Header {
  margin: auto;
  text-align: center;
  padding: 20px;

  h2 {
    color: $mainHead;
    font-size: 48px;
  }

  p {
    color: $addit;
    font-size: 18px;
  }
}
