@import "../../style/palette";
@import "../../style/mixins";
@import "../../style/vars";

.slider {
  text-align: center;
}
.navigationBlock {
  text-align: center;
  button {
    height: 55px;
    width: 55px;
    padding: 20px;
    background: $accent;
    border-radius: 100%;
    margin: 10px;
    color: white;
    border: none;
    transition: $transition-st;

    &:hover {
      background: #fff;
      color: $accent;
      outline: 1px solid $accent;
    }
  }
  img {
    height: 20px;
  }
}

.sliderEls {
  margin: 10px 70px;

  button {
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    padding: 0;

    h3,
    p {
      transition: $transition-st;
    }
    &:hover {
      h3,
      p {
        color: $accent;
      }
    }
  }
}
// .active {
//   p {
//     color: #fff;
//   }
// }
