@import "../../style/palette";
@import "../../style/mixins";
@import "../../style/vars";

.Desk {
  color: $addit;
  line-height: 0;

  h3 {
    font-weight: 500;
    font-size: 24px;
  }
  p {
    font-weight: 400;
    font-size: 18px;
  }
}
.active {
  h3,
  p {
    color: $accent;
  }
  img {
    border-bottom: 4px solid $accent;
  }
}
